<style>
  .wave_separator--section {
    padding-top: 54px;
    height: 80px;
    overflow: hidden;
  }
  @media screen and (min-width: 750px) {
    .wave_separator--section {
      padding-top: 72px;
      height: 130px;
    }
  }

  .wave_separator--section + section .gradient {
    background: linear-gradient(180deg,rgb(200 186 209 / 0.6) 0%,rgba(255,255,255,1) 100%);
  }
</style>


<section id="shopify-section-template--17864184758503__wave_separator_FJV6m9" class="shopify-section wave_separator--section">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 2400 500" opacity="1">
                <g fill="rgb(200 186 209 / 0.6)">
                    <path d="M-10,10C75.41666666666666,15.208333333333334,231.25,39.791666666666664,400,35C568.75,30.208333333333332,633.3333333333333,-10.291666666666668,800,-13C966.6666666666667,-15.708333333333332,1033.3333333333333,21.166666666666668,1200,22C1366.6666666666667,22.833333333333332,1433.3333333333333,-9.625,1600,-9C1766.6666666666667,-8.375,1833.3333333333333,22.916666666666668,2000,25C2166.6666666666665,27.083333333333332,2264.5833333333335,-77.125,2400,1C2535.4166666666665,79.125,3254.1666666666665,212.70833333333331,2650,400C2045.8333333333335,587.2916666666667,156.25,795.8333333333334,-500,900" transform="matrix(1,0,0,1,0,35)" opacity="1"></path>
                </g>
            </svg>
</section>
