

{% render "wave-separator" %}


<div class= "flex w-screen h-auto" style="background: linear-gradient(to bottom, {{ section.settings.color1 }} 0%, {{section.settings.color2}} 100%);">
    <div class=" h-auto w-full px-auto flex flex-col items-center justify-center" >
        <div class = 'flex flex-col justify-center items-center text-center'>
            <p class = "font-fraunces text-[50px] font-bold text-textPurple"> {{section.settings.header_text}}</p>
            <p class = 'font-handlee text-2xl md:text-3rem text-textPurple'>{{section.settings.subheading}}</p>
        </div>

            <videosection class= 'flex '>
            </videosection>

            <celebSecret class='flex flex-col sm:flex-row items-center justify-center w-full md:mx-0 mx-10 md:relative h-[150vw] md:h-[75vw]'>
                <img class="rounded-[50px] mt-[-40vw] md:mt-0
                 absolute md:right-[50px] max-h-[1000px]  xl:right-[5vw] z-0 md:w-[60vw] w-[90vw]" src="https://in.swati.com/cdn/shop/files/Celebs_1000x855E.jpg?v=1728035472&width=750">
                <div class="flex flex-col flex-wrap absolute  md:left-[40px] w-[80vw] md:w-[36vw]
                 bg-oceanbg text-start z-10 rounded-[6vw] md:rounded-[40px] px-[6vw] md:px-[4vw] py-[6vw] md:py-[4vw] gap-6
                  md:gap-10 h-auto mb-[-60vw] md:mb-0">
                    <p class="font-fraunces leading-tight text-darkPurple text-[4vw] md:text-[45px] font-extrabold">
                        Celebrity secret revealed!
                    </p>
                    <p class="text-[1.6rem] md:text-[1.8rem] font-semibold">
                        Discover how celebrities are transforming their look with colored contact lenses!
                    </p>
                    <ul class="flex flex-col gap-10 h-auto md:text-2xl text-[1.6rem]">
                        <li class="flex text-start">
                            <div class="bg-darkPurple mr-5 flex text-white text-center font-bold  items-center px-4 py-2 rounded-full w-[28px] h-[28px] ">
                                1
                            </div>
                            <div class="flex">
                                See how 14 celebrities elevate their style with bold eye colors. 
                            </div>
                        </li>
                        <li class="flex text-start">
                            <div class="bg-darkPurple mr-5 flex text-white text-center font-bold  items-center px-4 py-2 rounded-full w-[28px] h-[28px] ">
                                2
                            </div>
                            <div class="flex">
                                Get inspired to try the latest trends with our lenses. 
                            </div>
                        </li>
                    </ul>
                </div>
            </celebSecret>

            <steps class='flex flex-col sm:flex-row items-center justify-center w-full md:mx-0 mx-10 md:relative h-[150vw] md:h-[80vw]'>
                <img class="rounded-[50px] mt-[-40vw] md:mt-0
                 absolute md:left-[50px] max-h-[1000px]  xl:left-[5vw] z-0 md:w-[60vw] w-[90vw]" src="https://in.swati.com/cdn/shop/files/Swati_applying.jpg?v=1725548326&width=750">
                <div class="flex flex-col flex-wrap absolute  md:right-[40px] w-[80vw] md:w-[36vw]
                 bg-oceanbg text-start z-10 rounded-[6vw] md:rounded-[40px] px-[6vw] md:px-[4vw] py-[6vw] md:py-[4vw] h-auto mb-[-60vw] md:mb-0">
                    <div class="font-fraunces leading-tight text-darkPurple text-[4vw] md:text-[45px] font-extrabold md:mb-10 mb-6">
                        How to Use In 
                        <div class = 'font-handlee leading-tight text-[4vw] md:text-[45px] mt-2 text-textPurple'> 3 Simple Steps</div>
                    </div>
                
                    <p class="text-[1.6rem] md:text-[1.8rem] font-semibold  md:mb-10 mb-6">
                        SWATI coloured lenses are easy, safe, and extremely natural!
                    </p>
                    <ul class="flex flex-col gap-10 h-auto md:text-2xl text-[1.6rem]">
                        <li class="flex text-start">
                            <div class="bg-darkPurple mr-5 flex text-white text-center font-bold  items-center px-4 py-2 rounded-full w-[28px] h-[28px] ">
                                1
                            </div>
                            <div class="flex">
                                 Place the lens on your fingertip, ensuring the edge is perfectly upright. 
                            </div>
                        </li>
                        <li class="flex text-start">
                            <div class="bg-darkPurple mr-5 flex text-white text-center font-bold  items-center px-4 py-2 rounded-full w-[28px] h-[28px] ">
                                2
                            </div>
                            <div class="flex">
                                Hold your eye open with your free hand and gently place the lens on your cornea. 
                            </div>
                        </li>
                        <li class="flex text-start">
                            <div class="bg-darkPurple mr-5 flex text-white text-center font-bold  items-center px-4 py-2 rounded-full w-[28px] h-[28px] ">
                                3
                            </div>
                            <div class="flex">
                                Blink slowly and look around to settle the lens.  
                            </div>
                        </li>
                    </ul>
                </div>
            </steps>
             {% comment %} <picture class="w-full">
                    <source
                        srcset = 'https://in.swati.com/cdn/shop/files/Celebs_1000x855E.jpg?v=1728035472&width=750 750w'
                        sizes="100vw"
                    >
                </picture> {% endcomment %}
        
    </div>
</div>

<div class="flex w-full justify-center items-center mb-10 h-[100px]">
    <button class="bg-textPurple text-white rounded-lg px-10 py-5 font-semibold text-3xl hover:px-[2.6rem] hover:py-[1.3rem]"> SHOP ALL LENSES </button>
</div>

<div class=" my-10">
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 79">
    <defs>
      <clipPath id="line_separator_template--17864184758503__line_separator_NtEdxt">
        <rect width="1440" height="79" fill="none"></rect>
      </clipPath>
    </defs>
    <g clip-path="url(#line_separator_template--17864184758503__line_separator_NtEdxt)">
      
        <path d="M1458.5,73H415c-26.5-.67-84.5-4.5-104.5-14.5-25-12.5-13-71.5,24.5-48s-56,62.5-84.5,62.5H-43" fill="none" stroke="#7dc8c2" stroke-dasharray="9 9" stroke-linecap="round" stroke-width="5"></path>
      
    </g>
  </svg>
</div>



{%  schema  %} 
{
    "name" : "Results",
    "tag": "section",
    "class": "section",
    "settings": [
        {
            "type": "color",
            "id" : "color1",
            "default" : "#ded6e3",
            "label" : "color 1"
        },
        {
            "type": "color",
            "id" : "color2",
            "default" : "#ffffff",
            "label" : "color 2"
        },
        {
            "type":"text",
            "id" : "header_text",
            "default" : "Real People. Real Results.",
            "label": "Heading"
        },
        {
            "type" : "text",
            "id": "subheading",
            "default" : "100 000+ Happy Customers",
            "label" : "subheading"
        },
        {
            "type" : "image_picker",
            "id" : "celeb_image",
            "label" : "celeb section image"
        }

    ]
}
 {% endschema %}